.home {}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    cursor: default;
}

.header-text {
    min-width: 100vw;
}

.intro-text {
    width: 60%;

}

.info {
    width: 66%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 1rem;
    justify-content: center;
    align-content: center;
}

.info-header {
    width: 100%;
    padding: 0rem;
    border-bottom: 2px solid rgba(192, 192, 192, 0.63);
    margin: 0rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

h4 {
    padding: 0.25rem;
    margin: 0.25rem
}

.info-text {
    background-color: rgb(230, 230, 230);
    color: #002a57;
    align-items: center;
    width: 32%;
    /* border: 1px solid silver; */
    border-radius: 18px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0.25rem;
    margin-top: 1rem;
}

.info-text:hover {
    background-color: rgb(173, 173, 173);
    transition: 2s;
}

.half-container {
    width: 49%;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0.25rem;
    margin-top: 1rem;
}

.qrt-container {
    width: 24%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0.25rem;
    margin-top: 1rem;
}

.box {
    border: 2px solid silver;
    border-radius: 18px;
}

img{
    width: 100%;
}

.accordion{
    width: 100%;
    padding-top: 1rem;
}