<div class="home">
    <div class="container">
        <h1 class="header-text">Scott Settle & Kevin Williams Wedding</h1>
        <p><b>! This wedding will be an adult only event. Kevin and Scott respectfully ask to
                please leave any kids at home or with a baby sitter for the
                event. !</b></p>

        <!-- <app-picture-slide></app-picture-slide> -->

        <div class="container">
            <p class="intro-text">Scott Settle and Kevin Williams are engaged to get married! this is a union of two
                people who love and care for each other deeply. They are excited to invite you
                to join them on a special day.
            </p>


        </div>

        <div class="info">
            <h3 class="info-header">Venue Information:</h3>
            <div class="info-text">
                <h4>Date & Time: </h4> <span>December 28th 2024 4:00pm - 10:00pm</span>
            </div>
            <div class="info-text">
                <a href="https://www.mysticdunesgolf.com/" target="_blank">
                    <h4>Location: </h4><span>Mytsic Dunes Resort and Golf Club</span>
                </a>
            </div>
            <div class="info-text">
                <a href="https://www.google.com/maps/place/Mystic+Dunes+Golf+Club/@28.3130601,-81.6043902,17z/data=!3m1!4b1!4m6!3m5!1s0x88dd79563c51cb43:0x40a864be41aa27ca!8m2!3d28.3130601!4d-81.6018153!16zL20vMGNyMTdo?entry=ttu"
                    target="_blank">
                    <h4>Address:</h4> <span>7850 Shadow Tree Lane Celebration, FL 34747</span>
                </a>
            </div>
        </div>

        <div class="info">
            <h3 class="info-header">Event Information:</h3>
            <div class="card flex justify-content-center accordion">
                <p-accordion [activeIndex]="0" styleClass="accordion-style">
                    <p-accordionTab header="Ceremony" tabStyleClass="accordion-style">
                        <span>
                            The ceremony will begin at 4:30 and we are expecting guest to arrive at the event at 4:00pm eastern standard time.
                            This will be outside if the weather allows and last till 5:00pm. There is an indoor area if the weather is not appropriate 
                            for an outdoor event. 
                        </span>
                    </p-accordionTab>
                    <p-accordionTab header="Cocktail Hour">
                        <span>
                           Cocktail hour will start at 5:00pm through 6:00pm and will have an open bar. This will include beer and whine and a select few 
                           liquor drinks available to any guest at the event over 21 years old. For guest under 21 there will be non-alcoholic beverages 
                           served. 
                        </span>
                    </p-accordionTab>
                    <p-accordionTab header="Reception">
                        <span>
                            The reception will start at 6:00pm with a buffet style dinner for all guest at the event. Menu choice will be as follows.
                            After dinner there will be music and dancing with an open bar until 10:00pm. We recommend for anyone drinking to look into 
                            getting a room at a discounted cost. 
                        </span>
                    </p-accordionTab>
                </p-accordion>
            </div>
        </div>

        <div class="info">
            <h3 class="info-header">Dress Code:</h3>
            <p>Scott and Kevin are expecting a formal dress code at there wedding. Black tie would be prefered at the event.
                If you do not own a suite or dress please just wear as formal cloths as possible. 
            </p>
        </div>
        <div class="info">
            <h3 class="info-header">Best Men</h3>
            <div class="half-container">
                Kenny Williams
            </div>
            <div class="half-container">
                <img src="../../../assets/image_67161345.JPG">
                Paul Settle
            </div>
        </div>

        <div class="info">
            <h3 class="info-header">Grooms Men</h3>
            <div class="qrt-container">
                <img src="../../../assets/image_123650291.JPG">
                Mario Sanchez
            </div>
            <div class="qrt-container">
                First Last Name
            </div>
            <div class="qrt-container">
                First Last Name
            </div>
            <div class="qrt-container">
                First Last Name
            </div>
        </div>
        <div class="info box" routerLink="/song-pick">
            <h3 class="intro-text"> <a>Song Picks</a> </h3>
            <p>We are asking our guest to pick a song they would like to be played at the "after
                party" of our wedding. This will help ensure everyone
                has a song they enjoy dancing to. We will add the songs to our playlist for the DJ to play!
            </p>
        </div>
        <p><b>! This wedding will be an adult only event. Kevin and Scott respectfully ask to
                please leave any kids at home or with a baby sitter for the
                event. !</b></p>
    </div>
</div>