<div class="nav-bar">
    <a class="link-page" routerLink="home"><span>Home</span></a> 
    <span class="spacer"> | </span> <a class="link-page" routerLink="song-pick"><span>Song Pick</span></a>
    <span class="spacer"> | </span> <a class="link-page" routerLink="room-reservation"><span>Room Reservations</span></a>
    <span class="spacer"> | </span> <a class="link-page" routerLink="rsvp"><span>RSVP</span></a>
    <span class="spacer"> | </span> <a class="link-page" routerLink="photo-gallary"><span>Photo Gallary</span></a>
</div>